@import url("style.css");

* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/matrix (1).jpg");
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
}
.layout {
    margin: 100px 50px;
    border-radius: 20px;
    overflow: auto;
    background-color: #e9e1e8;
    box-shadow: 10px 10px 15px hsla(500,50%,50%,0.5) inset ;
    padding-bottom: 15px;
    padding-top: 30px;
}
.needMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lastMargin {
    margin-top: 10px;
    margin-bottom: 15px;
}
#author {
    font-weight: bold;
    color: #49a859;
    text-decoration: underline;
}
#kommentierer {
    font-weight: bold;
    color: #49a859;
    text-decoration: underline;
}


