body {
    background: url("../img/606500.jpg");
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
}

h1{
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 100px;
}
button.btn.btn-primary {
    margin-left: 100px;
    margin-top: 10px;
}

