/*Generell*/
* {
    font-family: 'Jura', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
/*Nav-Bar*/
.navbar-dark {
    background-color: #404040;
    padding: 1% 0;
    font-size: 1.5rem;
}
.navbar-brand {
    padding:15px 15px 15px 15px;
}
/*beitrag formatierung*/
.beitragtitel {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.beitragstext {
    margin-bottom: 10px;
}
#btnBeitragsdetails {
    width: 100px;
    height: 50px;
    background-color: black;
}
/*headline Grün*/
#headline {
    margin-top: 50px;
    font-family: 'Allerta Stencil', sans-serif;
    color: #00fd02;
    background-color: black;
    border-radius: 10px;
}
/*home-Section für Hintergrundbild unter der Nav-Bar*/
#home {
    background: url("../img/conspTheory_final.png") no-repeat center center fixed;
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
    position: relative;
}
/*diverse Buttons*/
.aboutMe img {
    margin: auto;
    width: 400px;
}
.aboutMe {
    padding-top: 80px;
    margin-bottom: 80px;
}
/*Beiträge anzeigen*/
.skills .verschwoerungstheorie {
    font-weight: bold;
    background: black;
    color: #fd0001;
    border-radius: 10px;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 80px;
}
div.col.text-center img{
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.skills img {
    margin: auto;
    width: 200px;
}
a.btn.btn-danger.shakebutton {
      margin-right: 10px;
  }
/*Shakebutten*/
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.aboutMe .row .shakebutton:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    opacity: 0.8;
}
#ziel2 .row2  {
    border: 1px black solid;
    margin-bottom: 50px;
    padding: 10px;
    padding-bottom: 20px;
}
#beitragsansicht span a:hover {
    text-decoration: none;
}
#beitragsansicht span {
    font-style: italic;
    font-weight: bolder;
    color:#fd0001;
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
}
/*footer */
footer {
    width: 100%;
    background-color: #000000;
    padding: 2% 1% 1% 1%;
    color: #FFF;
}
.fab  {
    color: white;
    padding: 15px;
    min-width: 50px;
    max-width: 200px;
}
.fab:hover {
    color: #2afd27;
    text-decoration: none;
}
/*#beitragsansicht span a:...{*/

/*!*für mobile wichtig! *!*/
/*@media (max-width: 768px) {*/
    /*.navbar-nav a {*/
        /*margin-left: 15px;*/
    /*}*/
    /*.headline h1 {*/
        /*font-size: 300%;*/
    /*}*/
    /*.fab {*/
        /*font-size: 20px;*/
        /*padding: 10px;*/
    /*}*/
    /*.fas, .fa-cog {*/
        /*display: none;*/
    /*}*/
    /*.Academy img {*/
        /*width: 250px;*/
    /*}*/
    /*.skills img {*/
        /*margin-left: 80px;*/
        /*width: 170px;*/
    /*}*/
    /*footer .padding {*/
        /*padding-top: 15px;*/
    /*}*/
    /*.Academy .padding img{*/
        /*padding-top: 15px;*/
        /*padding-bottom: 20px;*/
        /*margin:0;*/
    /*}*/
    /*.Academy .btn-success {*/
        /*margin: 0;*/
    /*}*/

