<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hallo, Welt</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

    <!-- fontawesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Google WebFonts-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

    <!--Evtl. nicht nötig-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>


<!--Navbar mit Logo und Useransicht(nur für Admins, um normale user in Admins zu wandeln)-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
    <a class="navbar-brand"><img src="img/Logo_1.Entwurf.png" width="100px" height="auto" align="center"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div th:if="${currentUser !=null && currentUser.isAdmin()}">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Userliste
                    </a>
                    <!--Liste mit user, um diese ggfs. in user zu wandeln-->
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <th:block th:each="userN: ${user}">
                            <a class="dropdown-item" th:href="@{makeAdmin/{id}(id=${userN.id})}"
                               th:text="${!userN.admin ? (userN.name+': ist kein Admin!') : (userN.name+': ist Admin!')}">Platzhalter:
                                UserName</a>
                        </th:block>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>


<!--rolling Background-Pic-->
<div id="home">
</div>


<!--Headline welche den Namen erkennt-->
<div class="col- text-center" id="headline">
    <h1>
        <th:block
                th:text="${currentUser != null ? ('Verschwörungstheoretiker: '+currentUser.name + ' darf jetzt Müll verbreiten') : 'Hallo, Unbekannter Verschwörungstheoretiker'}"></th:block>
        !
    </h1>
</div>

<!--Buttons nur für die berechtigten Nutzer sichtbar-->
<div class="aboutMe" id="ziel1">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/morpheusWeb.png" alt="Morpheus">
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="margin-top:25px">
                <h4><b>Wähle weise...</b></h4>
                <!--Signup-Button ist nur bei nicht eingeloggtem Zustand möglich-->
                <div th:if="${currentUser == null}">
                    <a class="btn btn-danger shakebutton" href="/login">Login</a><a
                        class="btn btn-primary shakebutton blue"
                        href="/signup">Signup</a>
                </div>
                <!--Logout-Button wenn eingeloggt ist immer da-->
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit" style="margin-bottom:10px">Logout</button>
                    </form>
                </div>
                <!--Button-erstelle beitrag versteckt vor nicht-user und nicht-Admins-->
                <div th:if="${currentUser != null && currentUser.isAdmin()}">
                    <form th:action="@{/logout}" method="post">
                        <a class="btn btn-danger" href="/beitrag">Erstelle Beitrag</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Beiträge anzeigen (für alle)-->
<div class="skills" id="ziel2">
    <div class="container">
        <div class="row">
            <div class="col text-center verschwoerungstheorie">
                <h2>Verschwörungstheorien</h2>
            </div>
        </div>
        <div class="row">
            <div class="col center row2">
                <span th:if="${beitraege.empty}">Kein Beitrag da </span>
                <tr th:each="beitrag : ${beitraege}">
                    <td>
                        <span th:text="${#dates.format(beitrag.creationDate, 'dd-MMM-yyyy HH:mm')}">Datum</span>
                        <div class="beitragtitel" th:text="${beitrag.title}" th:width="400px" th:height="auto">Titel
                        </div>
                    </td>
                    <td>
                        <div class="beitragstext" th:text="${beitrag.text}" th:width="400px" th:height="auto"> Inhalt
                        </div>
                    </td>
                    <div id="row2">
                        <div class="row">
                            <div id="beitragsansicht" class="col text-center">
                                <a th:href="@{/details(beitragId=${beitrag.id})}"><span><i> Beitragsansicht </i></span></a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>


<!--Footer, btn zu Website, diverse Icons und Logo-->
<footer class="container-fluid text-center" id="ziel4">
    <div class="row">
        <div class="col-sm-4">
            <h3>Join the Movement</h3>
            <a class="btn btn-danger shakebutton" href="https://www.stern.de/panorama/weltgeschehen/der-goldene-aluhut-
            2015--webpreis-kuert-die-wahnwitzigsten-verschwoerungstheoretiker-6464296.html">Join us</a>
        </div>
        <div class="col-sm-4 padding">
            <h3>Connect with us</h3>
            <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
            <a href="https://www.xing.com/" class="fab fa-xing"></a>
            <a href="https://gitlab.com/" class="fab fa-gitlab"></a>
            <a href="https://stackoverflow.com/" class="fab fa-stack-overflow"></a>
        </div>
        <div class="col-sm-4">
            <img src="img/Logo_1.Entwurf.png" alt="Logo">
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>