<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link href="../static/css/helper.css" rel="stylesheet" th:href="@{/css/helper.css}">
    <title>Signup</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="text-center">
    <form class="form-signin" th:action="@{/signup}" th:object="${signup}" method="post">
        <img class="mb-4" src="img/Logo_1.Entwurf.png" alt="Logo" style="border-radius:10px">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" th:field="*{username}" id="inputEmail" class="form-control" placeholder="Username"
               required="" autofocus="">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <label for="inputPassword1" class="sr-only">Password1</label>
        <input type="password" th:field="*{password1}" id="inputPassword1" class="form-control" placeholder="Password"
               required="">
        <div th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>
        <label for="inputPassword2" class="sr-only">Password2</label>
        <input type="password" th:field="*{password2}" id="inputPassword2" class="form-control"
               placeholder="Password Repeat" required="">
        <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
        <div class="checkbox mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
</div>
</body>
</html>